body{
    background-color: #D5E1EF;
    font-family: cursive;
    text-align: center;

}
.card{
    max-width: 302px;
    /* width: 100%; */
    height:470px;
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: white;
    box-shadow: 0px 10px 8px 10px rgba(0,0,0,10%);
    border-radius: 16px;
    padding: 1rem;
    padding-bottom: 3rem;
}
img{
    width: 100%;
    border-radius: 10px

}
h2{
    color: #1f3251;
}
p{
    color: hsl(220, 15%, 55%);
}